 #Hr-25 {
position:relative;
list-style:none;
margin:10px;
padding:0;
float:left;
}
#Hr-25 li {
margin:0;
padding:0;
float:left;
}
#Hr-25 li a {
position:relative;
display:inline;
padding:10px 10px;
overflow:hidden;
text-decoration:none;
font-family:Constantia,Georgia,'Nimbus Roman No9 L',serif;
text-transform:capitalize;
font-size:18px;
font-weight:bold;
color:#800517;
border-bottom:1px solid #D39B00;
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;

background:-webkit-gradient(linear,left top,left bottom,from(#BF8913),color-stop(0.30 #F1C826),color-stop(0.70 #EEC025),to(#E2B315));
background:-webkit-linear-gradient(top,#BF8913 0%,#F1C826 30%,#EEC025 70%,#E2B315 100%);
background:-moz-linear-gradient(top,#BF8913 0%,#F1C826 30%,#EEC025 70%,#E2B315 100%);
background:-ms-linear-gradient(top,#BF8913 0%,#F1C826 30%,#EEC025 70%,#E2B315 100%);
background:-o-linear-gradient(top,#BF8913 0%,#F1C826 30%,#EEC025 70%,#E2B315 100%);
background:linear-gradient(top,#BF8913 0%,#F1C826 30%,#EEC025 70%,#E2B315 100%);
-webkit-transition:all 0.63s ease;
-moz-transition:all 0.63s ease;
-o-transition:all 0.63s ease;
transition:all 0.63s ease;
}
#Hr-25 li a:hover {
position:relative;
bottom:15px;
box-shadow:inset 0 0 9px 0 #A35B12;
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
transform:scale(1.2);
-webkit-transition:all 0.6s ease;
-moz-transition:all 0.6s ease;
-o-transition:all 0.6s ease;
transition:all 0.6s ease;
-webkit-filter: blur(0.45px);
}
